/* ------------------------------------------------------------ *\
 * LAYOUTS
\* ------------------------------------------------------------ */

/**
 * FORMS
 */

/* Form Box */
.form-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: max-content;
  position: relative;
}

/* Label */
.form-box .form-label {
  color: var(--text-color) !important;
  text-transform: capitalize;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: 14px !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Input */
.form-box .input-wrapper { 
  width: 100%;
  --state-layer-bg: var(--second-border-color); 
}

.form-box .input-wrapper .icon-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

html[dir="rtl"] .form-box .input-wrapper .icon-btn {
  right: auto;
  left: 5px;
}

.form-box .input-wrapper:has(.icon-btn) .form-control { padding-inline-end: 40px !important; }

.form-box .form-control {
  border: 1.8px solid var(--border-color) !important;
  background-color: var(--second-bg-color) !important;
  padding-inline: 10px !important;
  border-radius: var(--rounded-8);
  min-height: 40px;
  max-height: 40px;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
}

.form-box .form-control.error {
  border: 1.8px solid var(--red-color) !important;
  background-color: var(--soft-red-color) !important;
}

.form-box .form-control.error::placeholder { color: var(--red-color) !important; }

.form-box .input-wrapper:has(.form-control.error) { --state-layer-bg: var(--red-color); }

.form-box .form-control.success {
  border: 1.8px solid var(--green-color) !important;
  background-color: var(--soft-green-color) !important;
}

.form-box .form-control.success::placeholder { color: var(--green-color) !important; }

.form-box .input-wrapper:has(.form-control.success) { --state-layer-bg: var(--green-color); }

.form-box .form-control.rosy {
  border: 1.8px solid var(--rosy-color) !important;
  background-color: var(--soft-rosy-color) !important;
}

.form-box .form-control.rosy::placeholder { color: var(--rosy-color) !important; }

.form-box .input-wrapper:has(.form-control.rosy) { --state-layer-bg: var(--rosy-color); }

.form-box .form-control.warning {
  border: 1.8px solid var(--orange-color) !important;
  background-color: var(--soft-orange-color) !important;
}

.form-box .form-control.warning::placeholder { color: var(--orange-color) !important; }

.form-box .input-wrapper:has(.form-control.warning) { --state-layer-bg: var(--orange-color); }

/* Input Group */
.input-group {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.input-group .input-wrapper:first-child .form-control { border-radius: var(--rounded-8) 0 0 var(--rounded-8) !important; }

.input-group .input-wrapper:last-child .form-control { border-radius: 0 var(--rounded-8) var(--rounded-8) 0 !important; }

.input-group .form-control { border-radius: var(--rounded-0) !important; }

/* Range */

/* Textarea */

/* Select */

/* Checks & Radios */
.form-checkbox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}

.form-checkbox .form-check-input {
  border: 1.8px solid var(--border-color) !important;
  background-color: var(--second-bg-color) !important;
  border-radius: var(--rounded-4);
  min-width: 18px;
  max-width: 18px;
  min-height: 18px;
  max-height: 18px;
}

.form-checkbox .form-check-input:checked {
  border: 1.8px solid var(--orange-color) !important;
  background-color: var(--orange-color) !important;
}

.form-checkbox .form-check-input.success {
  border: 1.8px solid var(--green-color) !important;
  background-color: var(--soft-green-color) !important;
}

.form-checkbox .form-check-input.warning {
  border: 1.8px solid var(--orange-color) !important;
  background-color: var(--soft-orange-color) !important;
}

.form-checkbox .form-check-input.error {
  border: 1.8px solid var(--red-color) !important;
  background-color: var(--soft-red-color) !important;
}

.form-checkbox .form-check-label {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
}

/* Validation */
.form-box .validation {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  color: var(--third-color) !important;
  margin-block-start: -3px;
  display: none;
}

.form-box .validation.show { display: block; }

.form-box .validation.success { color: var(--green-color) !important; }

.form-box .validation.warning { color: var(--orange-color) !important; }

.form-box .validation.rosy { color: var(--rosy-color) !important; }

.form-box .validation.error { color: var(--red-color) !important; }

/**
 * COMPONENTS
 */

/* Logo */
.logo {
  background-color: var(--text-color);
  border-radius: var(--rounded-10);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  --state-layer-bg: var(--bg-color);
}

.logo img {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
}

[data-theme="light"] .logo .logo-dark { display: none; }

[data-theme="light"] .logo .logo-light { display: block; }

[data-theme="dark"] .logo .logo-light { display: none; }

[data-theme="dark"] .logo .logo-dark { display: block; }

/* Icon button */
.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--rounded-full);
  opacity: 0.8 !important;
  --state-layer-bg: var(--text-color);
}

.icon-btn.large {
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
}

.icon-btn.large svg {
  width: 22px !important;
  height: 22px !important;
}

.icon-btn.small {
  min-width: 28px;
  max-width: 28px;
  min-height: 28px;
  max-height: 28px;
}

.icon-btn.small svg {
  width: 18px !important;
  height: 18px !important;
}

/* Accordion */

/* Avatars */

/* Alerts */

/* Badge */

/* Breadcrumb */

/* Buttons */
.btn {
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  border-radius: var(--rounded-8);
  min-height: 40px;
  max-height: 40px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-width: 1.8px !important;
  border-style: solid !important;
}

.btn:disabled { opacity: 0.5; }

.btn svg {
  width: 20px !important;
  height: 20px !important;
}

.btn.btn-light {
  border-color: var(--text-color) !important;
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  --state-layer-bg: var(--bg-color);
}

.btn.btn-secondary {
  border-color: var(--border-color) !important;
  background-color: var(--second-bg-color) !important;
  --state-layer-bg: var(--second-color);
}

/* Button group */

/* Card */

/* Carousel */

/* Close button */

/* Collapse */

/* Dropdowns */
.dropdown .dropdown-menu {
  background-color: var(--second-bg-color);
  border: 1.8px solid var(--border-color);
  border-radius: var(--rounded-12);
  overflow-y: auto;
  overflow-x: hidden;
  width: 240px;
  max-height: 75dvh;
  display: flex;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transform: scale(0) !important;
  transition: none;
}

.dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate3d(0px, 38.4px, 0px) !important;
  transition: 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  padding-inline: 16px !important;
  background-color: transparent !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  min-height: 40px;
  max-height: 40px;
  font-size: var(--fs-p) !important;
  font-weight: var(--fw-medium) !important;
  line-height: var(--lh-p) !important;
  --state-layer-bg: var(--text-color);
}

.dropdown .dropdown-menu .dropdown-item.active .state-layer { opacity: 0.12; }

.dropdown .dropdown-menu .dropdown-item.active .state-layer {
  background-color: var(--text-color); 
  opacity: 0.12;
}

.dropdown.dropdown-small .dropdown-menu { 
  border-radius: var(--rounded-8);
  width: 100px;
  max-height: 35dvh;
}

.dropdown.dropdown-small .dropdown-menu .dropdown-item {
  font-size: var(--fs-small) !important;
  font-weight: var(--fw-regular) !important;
  line-height: var(--lh-small) !important;
  padding-inline: 10px !important;
  min-height: 30px;
  max-height: 30px;
}

/* List group */

/* Modal */

/* Navbar */

/* Navs & tabs */

/* Offcanvas */

/* Pagination */

/* Placeholders */

/* Popovers */

/* Progress */

/* Scrollspy */

/* Spinners */

/* Toasts */

/* Tooltips */
.tooltip { display: none; }

.tooltip-inner {
  background-color: var(--text-color) !important;
  color: var(--bg-color) !important;
  font-size: var(--fs-small);
  font-weight: var(--fw-regular);
  line-height: var(--lh-small);
  padding-inline: 6px;
  text-transform: capitalize;
}

.tooltip .tooltip-arrow { display: none; }

/* Line Clamp */
.line-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  overflow-wrap: anywhere;
}

.line-clamp.line-clamp-1  { -webkit-line-clamp: 1; }

.line-clamp.line-clamp-2  { -webkit-line-clamp: 2; }

.line-clamp.line-clamp-3  { -webkit-line-clamp: 3; }

.line-clamp.line-clamp-4  { -webkit-line-clamp: 4; }

.line-clamp.line-clamp-5  { -webkit-line-clamp: 5; }

.line-clamp.line-clamp-6  { -webkit-line-clamp: 6; }

.line-clamp.line-clamp-7  { -webkit-line-clamp: 7; }

.line-clamp.line-clamp-8  { -webkit-line-clamp: 8; }

.line-clamp.line-clamp-9  { -webkit-line-clamp: 9; }

.line-clamp.line-clamp-10 { -webkit-line-clamp: 10; }