/* ------------------------------------------------------------ *\
 * MAIN – OUTSIDE
\* ------------------------------------------------------------ */

/* Start Load */
.start-load {
    background-color: var(--orange-color) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    width: 100%;
    height: 100dvh;
    padding-block-end: 20px;
    transition: all 0.4s;
}

.start-load.active {
    opacity: 0;
    visibility: hidden;
}

.start-load .img-load {
    min-width: max-content;
    max-width: max-content;
    min-height: 95px;
    max-height: 95px;
    transition: all 0.4s;
}

.start-load .img-load.active { transform: scale(1.5); }

/* Header */

/* Footer */

/* ------------------------------------------------------------ *\
 * MAIN – INSIDE
\* ------------------------------------------------------------ */

/* Auth Wrapper */
.auth-wrapper {
    display: grid;
    grid-template-rows: max-content 1fr;
    min-height: 100dvh;
}

.auth-wrapper .wrapper { 
    width: 100%;
    padding: 16px 16px 0; 
}

.auth-wrapper .img-auth {
    border-radius: var(--rounded-12);
    height: 50dvh;
}

.auth-wrapper .wrapper-2 {
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 30px;
    width: 100%;
}

.auth-wrapper header {
    background-color: var(--bg-color);
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

[data-theme="light"] .icon-btn .light { display: none; }

[data-theme="light"] .icon-btn .dark { display: block; }

[data-theme="dark"] .icon-btn .light { display: block; }

[data-theme="dark"] .icon-btn .dark { display: none; }

.auth-wrapper footer { padding-block: 10px; }

/* Hero Section */

/* About Section */

/* Services Section */

/* Contact Section */