/* ------------------------------------------------------------ *\
 * STYLE GUIDE
\* ------------------------------------------------------------ */

:root {
    /**
     * Colors
     */
    --scrim: #00000075;
    --success: #1ec863;
    --on-success: #000000;
    --soft-success: #1ec86335;
    --warning: #f6a723;
    --on-warning: #000000;
    --soft-warning: #f6a72335;
    --info: #2f80ed;
    --on-info: #ffffff;
    --soft-info: #2f80ed35;
    --error: #ed4956;
    --on-error: #000000;
    --soft-error: #ed495635;

    /* Primary */
    --primary: #f8ac35;
    --on-primary: #000000;
    --soft-primary: #f8ac3535;
    --secondary: #bd2635;
    --on-secondary: #ffffff;
    --soft-secondary: #bd263535;

    /* Theme Light */
    --light-background: #ffffff;
    --light-surface: #f7f7f7;
    --light-surface-variant: #efefef;
    --light-on-background: #0b0b0b;
    --light-on-background-variant: #3a3a3a;
    --light-outline: #c7c7c7;
    --light-outline-variant: #dedede;
    --light-inverse: #0b0b0b;
    --light-on-inverse: #ffffff;

    /* Theme Dark */
    --dark-background: #0b0b0b;
    --dark-surface: #111111;
    --dark-surface-variant: #1a1a1a;
    --dark-on-background: #f2f2f2;
    --dark-on-background-variant: #9a9a9a;
    --dark-outline: #1c1c1c;
    --dark-outline-variant: #2a2a2a;
    --dark-inverse: #f2f2f2;
    --dark-on-inverse: #0b0b0b;

    /**
     * Typography
     */

    /* Font Family */
    --font-family-body: "Nunito", sans-serif;
    --font-family-newsreader: "Newsreader", serif;

    /* Font size */
    --fs-base: 10px;
    --fs-display-large: 5.7rem;
    --fs-display-medium: 4.5rem;
    --fs-display-small: 3.6rem;
    --fs-headline-large: 3.2rem;
    --fs-headline-medium: 2.8rem;
    --fs-headline-small: 2.4rem;
    --fs-title-large: 2.2rem;
    --fs-title-medium: 1.8rem;
    --fs-title-small: 1.4rem;
    --fs-body-large: 1.6rem;
    --fs-body-medium: 1.4rem;
    --fs-body-small: 1.2rem;
    --fs-label-large: 1.4rem;
    --fs-label-medium: 1.2rem;
    --fs-label-small: 1.1rem;

    /* Font weight */
    --fw-regular: 400;
    --fw-medium: 600;
    --fw-large: 700;

    /* Line height */
    --lh-base: 1.6;
    --lh-display-large: 6.4rem;
    --lh-display-medium: 5.2rem;
    --lh-display-small: 4.4rem;
    --lh-headline-large: 4rem;
    --lh-headline-medium: 3.6rem;
    --lh-headline-small: 3.2rem;
    --lh-title-large: 2.8rem;
    --lh-title-medium: 2.8rem;
    --lh-title-small: 2rem;
    --lh-body-large: 2.4rem;
    --lh-body-medium: 2rem;
    --lh-body-small: 1.8rem;
    --lh-label-large: 2rem;
    --lh-label-medium: 1.8rem;
    --lh-label-small: 1.6rem;

    /* Letter spacing */
    --ls-n-025: -0.25px;
    --ls-p-010: 0.1px;
    --ls-p-015: 0.15px;
    --ls-p-025: 0.25px;
    --ls-p-040: 0.4px;
    --ls-p-050: 0.5px;

    /**
     * Spacing
     */
    --spacing-base: 4px;
    --spacing-05: calc(var(--spacing-base) * 0.5);
    --spacing-1: calc(var(--spacing-base) * 1);
    --spacing-2: calc(var(--spacing-base) * 2);
    --spacing-3: calc(var(--spacing-base) * 3);
    --spacing-4: calc(var(--spacing-base) * 4);
    --spacing-5: calc(var(--spacing-base) * 5);
    --spacing-6: calc(var(--spacing-base) * 6);
    --spacing-7: calc(var(--spacing-base) * 7);
    --spacing-8: calc(var(--spacing-base) * 8);
    --spacing-9: calc(var(--spacing-base) * 9);
    --spacing-10: calc(var(--spacing-base) * 10);
    --spacing-11: calc(var(--spacing-base) * 11);
    --spacing-12: calc(var(--spacing-base) * 12);
    --spacing-13: calc(var(--spacing-base) * 13);
    --spacing-14: calc(var(--spacing-base) * 14);
    --spacing-15: calc(var(--spacing-base) * 15);
    --spacing-16: calc(var(--spacing-base) * 16);
    --spacing-17: calc(var(--spacing-base) * 17);
    --spacing-18: calc(var(--spacing-base) * 18);
    --spacing-19: calc(var(--spacing-base) * 19);
    --spacing-20: calc(var(--spacing-base) * 20);
    --spacing-21: calc(var(--spacing-base) * 21);
    --spacing-22: calc(var(--spacing-base) * 22);
    --spacing-23: calc(var(--spacing-base) * 23);
    --spacing-24: calc(var(--spacing-base) * 24);
    --spacing-25: calc(var(--spacing-base) * 25);
    --spacing-26: calc(var(--spacing-base) * 26);
    --spacing-27: calc(var(--spacing-base) * 27);
    --spacing-28: calc(var(--spacing-base) * 28);
    --spacing-29: calc(var(--spacing-base) * 29);
    --spacing-30: calc(var(--spacing-base) * 30);

    /**
     * Box shadow
     */
    --shadow-05: 0px 1px 2px 1px #00000010, 0px 1px 1px 0px #00000015;
    --shadow-1: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-2: 0px 2px 6px 2px #00000026, 0px 1px 2px 0px #0000004d;
    --shadow-3: 0px 1px 3px 0px #0000004d, 0px 4px 8px 3px #00000026;
    --shadow-4: 0px 2px 3px 0px #0000004d, 0px 6px 10px 4px #00000026;
    --shadow-5: 0px 4px 4px 0px #0000004d, 0px 8px 12px 6px #00000026;
    --shadow-6: 0px 4px 5px 0px #0000004d, 0px 10px 15px 6px #00000026;
    --shadow-7: 0px 5px 5px 0px #0000004d, 0px 10px 18px 7px #00000026;
    --shadow-8: 0px 5px 6px 0px #0000004d, 0px 12px 20px 8px #00000026;
    --shadow-9: 0px 6px 6px 0px #0000004d, 0px 14px 22px 8px #00000026;
    --shadow-10: 0px 6px 7px 0px #0000004d, 0px 16px 24px 9px #00000026;
    --shadow-11: 0px 7px 8px 0px #0000004d, 0px 17px 26px 9px #00000026;
    --shadow-12: 0px 7px 8px 0px #0000004d, 0px 18px 28px 10px #00000026;
    --shadow-13: 0px 7px 9px 0px #0000004d, 0px 19px 29px 10px #00000026;
    --shadow-14: 0px 8px 9px 0px #0000004d, 0px 20px 31px 11px #00000026;
    --shadow-15: 0px 8px 10px 0px #0000004d, 0px 21px 33px 11px #00000026;
    --shadow-16: 0px 8px 11px 0px #0000004d, 0px 22px 35px 12px #00000026;
    --shadow-17: 0px 9px 11px 0px #0000004d, 0px 23px 36px 12px #00000026;
    --shadow-18: 0px 9px 12px 0px #0000004d, 0px 24px 38px 13px #00000026;
    --shadow-19: 0px 10px 13px 0px #0000004d, 0px 25px 40px 14px #00000026;
    --shadow-20: 0px 10px 14px 0px #0000004d, 0px 26px 42px 15px #00000026;

    /**
     * Border radius
     */
    --radius-extra-small: 4px;
    --radius-small: 8px;
    --radius-medium: 12px;
    --radius-large: 16px;
    --radius-extra-large: 24px;
    --radius-circle: 50%;
    --radius-full: 1000px;

    /**
     * Transition
     */
    --tr-duration-short: 200ms;
    --tr-duration-medium: 400ms;
    --tr-duration-long: 600ms;

    /**
     * Others
     */
    --width-extra-small: 36px;
    --width-small: 40px;
    --width-medium: 48px;
    --width-large: 56px;
    --width-extra-large: 75px;
    --height-extra-small: 36px;
    --height-small: 40px;
    --height-medium: 48px;
    --height-large: 56px;
    --height-extra-large: 75px;

    --header-height: 72px;
    --app-bar-height: 72px;
    --navigation-rail-width: 72px;
    --navigation-bar-height: 56px;
    --width-base: 300px;
}

[data-theme="light"] {
    color-scheme: light;

    --background: var(--light-background);
    --on-background: var(--light-on-background);
    --on-background-variant: var(--light-on-background-variant);
    --surface: var(--light-surface);
    --surface-variant: var(--light-surface-variant);
    --outline: var(--light-outline);
    --outline-variant: var(--light-outline-variant);
    --inverse: var(--light-inverse);
    --on-inverse: var(--light-on-inverse);

    .theme-light { display: flex; }

    .theme-dark { display: none; }
}

[data-theme="dark"] {
    color-scheme: dark;

    --background: var(--dark-background);
    --on-background: var(--dark-on-background);
    --on-background-variant: var(--dark-on-background-variant);
    --surface: var(--dark-surface);
    --surface-variant: var(--dark-surface-variant);
    --outline: var(--dark-outline);
    --outline-variant: var(--dark-outline-variant);
    --inverse: var(--dark-inverse);
    --on-inverse: var(--dark-on-inverse);

    .theme-dark { display: flex; }
    
    .theme-light { display: none; }
}

/* ------------------------------------------------------------ *\
 * RESET
\* ------------------------------------------------------------ */

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    -moz-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
menu {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a,
img,
span,
label,
input,
select,
button,
textarea { display: inline-block; }

a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}

img { height: auto; }

label,
input[type="radio"],
input[type="checkbox"],
select,
button { cursor: pointer; }

input,
select,
button,
textarea {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
}

input,
select,
textarea {
    outline: none;
    width: 100%;
}

label,
input,
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

textarea { resize: none; }

form { width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

[id] { scroll-margin-block-start: calc(var(--header-height) + var(--spacing-4)); }

[hidden] { display: none; }

[disabled],
:disabled {
    pointer-events: none;
    opacity: 0.7;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/* ------------------------------------------------------------ *\
 * BASE
\* ------------------------------------------------------------ */

:where(input, textarea)::placeholder { color: var(--on-background-variant); }

option {
    background-color: var(--background);
    color: var(--on-background);
}

html {
    font-family: var(--font-family-body);
    scroll-behavior: smooth;
    font-size: var(--fs-base);
    font-weight: normal;
    line-height: var(--lh-base);
}

body {
    background-color: var(--background);
    color: var(--on-background);
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

body.load { overflow-y: visible; }

::selection {
    background-color: var(--on-background);
    color: var(--background);
}

/* ------------------------------------------------------------ *\
 * TYPOGRAPHY
\* ------------------------------------------------------------ */

.text-display-large {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-large);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-large);
    letter-spacing: var(--ls-n-025);
}

.text-display-medium {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-medium);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-medium);
}

.text-display-small {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-display-small);
    font-weight: var(--fw-large);
    line-height: var(--lh-display-small);
}

.text-headline-large {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-headline-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-large);
}

.text-headline-medium {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-headline-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-medium);
}

.text-headline-small {
    font-family: var(--font-family-newsreader);
    font-size: var(--fs-headline-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-headline-small);
}

.text-title-large {
    font-size: var(--fs-title-large);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-large);
}

.text-title-medium {
    font-size: var(--fs-title-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-medium);
    letter-spacing: var(--ls-p-015);
}

.text-title-small {
    font-size: var(--fs-title-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-title-small);
    letter-spacing: var(--ls-p-010);
}

.text-body-large {
    font-size: var(--fs-body-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-large);
    letter-spacing: var(--ls-p-025);
}

.text-body-medium {
    font-size: var(--fs-body-medium);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-medium);
    letter-spacing: var(--ls-p-025);
}

.text-body-small {
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
    letter-spacing: var(--ls-p-040);
}

.text-label-large {
    font-size: var(--fs-label-large);
    font-weight: var(--fw-regular);
    line-height: var(--lh-label-large);
    letter-spacing: var(--ls-p-010);
}

.text-label-medium {
    font-size: var(--fs-label-medium);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-medium);
    letter-spacing: var(--ls-p-050);
}

.text-label-small {
    font-size: var(--fs-label-small);
    font-weight: var(--fw-medium);
    line-height: var(--lh-label-small);
    letter-spacing: var(--ls-p-050);
}

/* ------------------------------------------------------------ *\
 * TEXT ON COLOR
\* ------------------------------------------------------------ */

.text-success { color: var(--success) !important; }

.text-warning { color: var(--warning) !important; }

.text-info { color: var(--info) !important; }

.text-error { color: var(--error) !important; }

.text-primary { color: var(--primary) !important; }

.text-secondary { color: var(--secondary) !important; }

.text-on-background { color: var(--on-background) !important; }

.text-on-background-variant { color: var(--on-background-variant) !important; }

.text-on-inverse { color: var(--on-inverse) !important; }

/* ------------------------------------------------------------ *\
 * REUSED STYLE
\* ------------------------------------------------------------ */

.section { padding-block-end: var(--spacing-10); }

.container {
    padding-inline: var(--spacing-4);
    margin-inline: auto;
    width: 100%;
    max-width: 100%;
}

.container.container-xs { max-width: 568px; }

.container.container-sm { max-width: 768px; }

.container.container-md { max-width: 992px; }

.container.container-lg { max-width: 1200px; }

.container.container-xl { max-width: 1440px; }

.img-cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img-contain {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.title-sec {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    margin-block-end: var(--spacing-8);
}

.main { min-height: 100dvh; }

body:has(.header.mobile) .main { padding-block-start: calc(var(--header-height) + var(--spacing-4)) !important; }

body:has(.app-bar.mobile) .main { padding-block-start: calc(var(--header-height) + var(--spacing-4)) !important; }

body:has(.navigation-bar) .main { padding-block-end: var(--navigation-bar-height); }

.footer-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: var(--spacing-8);
}

.custom-scrollbar-hidden::-webkit-scrollbar { display: none; }

.custom-scrollbar::-webkit-scrollbar {
    width: var(--spacing-2);
    height: var(--spacing-2);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: var(--radius-full);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--outline);
    border-radius: var(--radius-full);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover { background-color: var(--outline-variant); }

.custom-scrollbar::-webkit-scrollbar-thumb:active { background-color: var(--on-background-variant); }

:has(> .state-layer) {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.state-layer {
    background-color: var(--state-layer-bg);
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity var(--tr-duration-short);
}

:has(> .state-layer):hover > .state-layer { opacity: 0.08; }

:has(> .state-layer):is(:focus. :focus-visible, :focus-within) > .state-layer { opacity: 0.12; }

:has(> .state-layer):active > .state-layer { opacity: 0.16; }

.circle,
.arrow-dir,
.theme-light,
.theme-dark {
    max-width: max-content;
    max-height: max-content;
    display: grid;
    place-items: center;
}

html[dir="rtl"] .arrow-dir { transform: rotateY(180deg); }

.circle svg {
    min-width: var(--spacing-1);
    max-width: var(--spacing-1);
    min-height: var(--spacing-1);
    max-height: var(--spacing-1);
}

.hover { transition: color var(--tr-duration-short); }

.hover:hover { color: var(--primary) !important; }

.desctop { display: none !important; }

.p-start-0,
.p-end-0 { gap: 0 !important; }

.p-start-0 { padding-inline-start: 0 !important; }

.p-end-0 { padding-inline-end: 0 !important; }

.w-full {
    width: 100% !important;
    max-width: 100% !important;
}

.flex {
    display: flex;
    align-items: center;
    gap: var(--spacing-4);
}

.off {
    text-decoration: line-through;
    color: var(--on-background-variant);
}

.check,
.check svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--spacing-4);
    max-width: var(--spacing-4);
    min-height: var(--spacing-4);
    max-height: var(--spacing-4);
    vertical-align: middle;
    color: var(--success);
}

.star,
.star svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: var(--spacing-4);
    max-width: var(--spacing-4);
    min-height: var(--spacing-4);
    max-height: var(--spacing-4);
    vertical-align: middle;
    color: var(--warning);
}

.star.extra-large,
.star.extra-large svg {
    min-width: var(--width-extra-large);
    max-width: var(--width-extra-large);
    min-height: var(--height-extra-large);
    max-height: var(--height-extra-large);
}

.offcanvas-backdrop,
.modal-backdrop {
    opaicty: 0;
    background-color: var(--scrim);
    backdrop-filter: blur(30px);
    transition: opacity var(--tr-duration-short);
}

.offcanvas-backdrop.show,
.modal-backdrop.show { opacity: 1; }

.overlay {
    background-color: var(--scrim);
    backdrop-filter: blur(30px);
    position: fixed;
    z-index: 40;
    width: 100%;
    height: 100dvh;
    opacity: 0;
    visibility: hidden;
    transition-duration: var(--tr-duration-short);
    transition-property: opacity, visibility;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-4);
}

.wrapper-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-2);
}

.wrapper-between {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
    width: 100%;
}

.wrapper-block {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.grid-2-base {
    display: grid;
    gap: var(--spacing-4);
}

/* ------------------------------------------------------------ *\
 * COMPONENTS
\* ------------------------------------------------------------ */

/**
 * Logo
 */
.logo.small .img-logo {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: auto;
    max-height: max-content;
}

.logo.medium .img-logo {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: auto;
    max-height: max-content;
}

.logo.extra-large .img-logo {
    min-width: var(--width-extra-large);
    max-width: var(--width-extra-large);
    min-height: auto;
    max-height: max-content;
}

/**
 * Avatar
 */
.avatar {
    position: relative;
    border: 1px solid var(--outline);
    background-color: var(--surface);
    color: var(--on-background-variant);
    display: grid;
    place-items: center;
    border-radius: var(--radius-full);
}

.avatar.extra-small {
    min-width: var(--width-extra-small);
    max-width: var(--width-extra-small);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.avatar.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.avatar.small {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.avatar.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.avatar.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.avatar.extra-large {
    min-width: var(--width-extra-large);
    max-width: var(--width-extra-large);
    min-height: var(--height-extra-large);
    max-height: var(--height-extra-large);
}

.avatar.extra-large svg {
    min-width: calc(var(--width-extra-large) / 2);
    max-width: calc(var(--width-extra-large) / 2);
    min-height: calc(var(--height-extra-large) / 2);
    max-height: calc(var(--height-extra-large) / 2);
}

.avatar .icon-btn {
    position: absolute;
    right: -3px;
    bottom: 0;
    z-index: 11;
    width: var(--spacing-3);
    height: var(--spacing-3);
    border-radius: var(--radius-full);
    display: grid;
    place-items: center;
    outline: 3px solid var(--background);
}

.avatar .icon-btn:has(svg) {
    right: -5px;
    width: var(--spacing-5);
    height: var(--spacing-5);
}

.avatar .icon-btn.success {
    background-color: var(--success);
    color: var(--on-success);
}

.avatar .icon-btn.warning {
    background-color: var(--warning);
    color: var(--on-warning);
}

.avatar .icon-btn.error {
    background-color: var(--error);
    color: var(--on-error);
}

.avatar .icon-btn.inverse {
    background-color: var(--inverse);
    color: var(--on-inverse);
}

.avatar .icon-btn svg {
    min-width: var(--spacing-3);
    max-width: var(--spacing-3);
    min-height:var(--spacing-3);
    max-height:var(--spacing-3);
}

.avatar .img-avatar {
    border-radius: var(--radius-full);
    position: absolute;
    inset: 0;
    z-index: 10;
}

/**
 * Separator
 */
.separator {
    border: 1px solid var(--outline);
    width: 100%;
    height: 100%;
}

.separator.y { width: 1px; }

.separator.x { height: 1px; }

/**
 * Empty
 */
.empty {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-2);
    max-width: 300px;
    margin-inline: auto;
    padding: var(--spacing-10) var(--spacing-4);
}

.empty svg {
    min-width: var(--spacing-9);
    max-width: var(--spacing-9);
    min-height: var(--spacing-9);
    max-height: var(--spacing-9);
    color: var(--on-background-variant);
}

/**
 * Ratings
 */
.ratings {
    display: flex;
    align-items: center;
    gap: var(--spacing-1);
}

.ratings .star svg,
.ratings .star {
    color: var(--on-background-variant);
    min-width: var(--spacing-6);
    max-width: var(--spacing-6);
    min-height: var(--spacing-6);
    max-height: var(--spacing-6);
    display: grid;
    place-items: center;
    transition-duration: var(--tr-duration-short);
    transition-property: color, transform;
}

.ratings .star svg:hover,
.ratings .star:hover {
    color: var(--warning);
    transform: scale(1.1);
}

.ratings .star svg:active,
.ratings .star:active {
    color: var(--warning);
    transform: scale(0.95);
}

.ratings .star.active,
.ratings .star.active svg {
    color: var(--warning);
    animation: rating_star_active var(--tr-duration-short) linear alternate;
}

@keyframes rating_star_active {
    0% { transform: scale(0); }

    100% { transform: scale(1); }
}

/**
 * App bars
 */



/**
 * Badges
 */
.badge {
    position: absolute;
    top: var(--spacing-2);
    right: var(--spacing-2);
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: var(--radius-full);
    width: var(--spacing-2);
    height: var(--spacing-2);
    padding: 0;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/**
 * Button groups
 */



/**
 * Buttons
 */
.btn {
    border-color: transparent !important;
    background-color: transparent !important;
    color: var(--on-background) !important;
    text-wrap: nowrap;
    text-transform: capitalize;
    padding-block: 0;
    border-radius: var(--radius-full);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    min-width: max-content;
    gap: var(--spacing-2);
    transition: color var(--tr-duration-short);
}

.btn.extra-small {
    padding-inline: var(--spacing-4);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.btn.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.btn.small {
    padding-inline: var(--spacing-5);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.btn.medium {
    padding-inline: var(--spacing-6);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.btn.text {
    color: var(--on-background-variant) !important;
    --state-layer-bg: var(--on-background);
}

.btn.text:is(:hover, :focus-within) { color: var(--on-background) !important; }

.btn.outline {
    border: 1px solid var(--outline) !important;
    --state-layer-bg: var(--on-background);
}

.btn.inverse {
    background-color: var(--inverse) !important;
    color: var(--on-inverse) !important;
    --state-layer-bg: var(--on-inverse);
}

.btn.filled {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
    --state-layer-bg: var(--on-primary);
}

.btn-link {
    text-decoration: none;
    color: var(--primary) !important;
    text-transform: capitalize;
    text-wrap: nowrap;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-2);
    transition: opacity var(--tr-duration-short);
}

.btn-link:active { opacity: 0.8; }

.btn-link svg {
    min-width: var(--spacing-5);
    max-width: var(--spacing-5);
    min-height: var(--spacing-5);
    max-height: var(--spacing-5);
}

.btn-link::before {
    content: "";
    background-color: var(--primary);
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    border-radius: var(--radius-full);
    width: 0%;
    height: 1px;
    transition: width var(--tr-duration-short);
}

html[dir="rtl"] .btn-link::before {
    right: 0;
    left: auto;
}

.btn-link:hover::before { width: 100%; }

/**
 * Extended FABs
 */



/**
 * FAB menu
 */



/**
 * FABs
 */



/**
 * Icon buttons
 */
.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    border-radius: var(--radius-full);
    color: var(--on-background-variant);
    transition: color var(--tr-duration-short);
}

.icon-btn:is(:hover, :focus-within) { color: var(--on-background); }

.icon-btn.extra-small {
    min-width: var(--width-extra-small);
    max-width: var(--width-extra-small);
    min-height: var(--height-extra-small);
    max-height: var(--height-extra-small);
}

.icon-btn.extra-small svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.icon-btn.small {
    min-width: var(--width-small);
    max-width: var(--width-small);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.icon-btn.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.icon-btn.medium {
    min-width: var(--width-medium);
    max-width: var(--width-medium);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.icon-btn.text { --state-layer-bg: var(--on-background); }

.icon-btn.tonal {
    background-color: var(--soft-primary) !important;
    color: var(--primary) !important;
    --state-layer-bg: var(--on-background);
}

.icon-btn.outline {
    border: 1px solid var(--outline);
    --state-layer-bg: var(--on-background);
}

.icon-btn.filled {
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
    --state-layer-bg: var(--on-primary);
}

/**
 * Segmented buttons
 */



/**
 * Split button
 */



/**
 * Cards
 */
.card {
    padding: 0 !important;
    border-radius: var(--radius-extra-large);
    border-color: transparent !important;
    background-color: transparent !important;
    color: var(--on-background) !important;
    position: relative;
    transition: transform var(--tr-duration-short);
}

.card:active { transform: scale(0.99); }

.card.text { --state-layer-bg: var(--on-background); }

.card.outline {
    border: 1px solid var(--outline) !important;
    --state-layer-bg: var(--on-background);
}

.card .card-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
    padding: var(--spacing-6) !important;
}

/**
 * Carousel
 */



/**
 * Checkbox
 */
.input-check {
    width: var(--spacing-5);
    height: var(--spacing-5);
    background-color: var(--surface);
    border: 1px solid var(--outline);
    border-radius: var(--radius-extra-small);
    position: relative;
}

.input-check:checked {
    background-color: var(--primary);
    border-color: var(--primary);
}

.input-check:checked::before {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%, -50%) rotate(-40deg);
    width: 10px;
    height: 6px;
    border-left: 3px solid var(--on-primary);
    border-bottom: 3px solid var(--on-primary);
}

/**
 * Chips
 */



/**
 * Date pickers
 */



/**
 * Time pickers
 */



/**
 * Dialogs
 */
.modal .modal-content {
    background-color: var(--surface);
    border-width: 0;
    border-radius: var(--radius-extra-large);
    color: var(--on-background);
    box-shadow: var(--shadow-1);
    max-width: calc(100% - var(--spacing-8));
    margin-inline: auto;
}

.modal .modal-content .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-4) var(--spacing-2) var(--spacing-2) var(--spacing-6);
    border-color: transparent;
}

html[dir="rtl"] .modal .modal-content .modal-header { padding: var(--spacing-4) var(--spacing-6) var(--spacing-2) var(--spacing-2); }

.modal .modal-content .modal-body {
    padding: 0 var(--spacing-6) var(--spacing-6);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-6);
}

.modal .modal-content .modal-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: var(--spacing-6);
    border-color: var(--outline);
}

/**
 * Divider
 */



/**
 * Lists
 */
.list {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

.list::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
}

/**
 * Items
 */
.item {
    display: flex;
    align-items: start;
    gap: var(--spacing-4);
    width: 100%;
    min-height: max-content;
    --state-layer-bg: var(--on-background);
}

.item .item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

/**
 * Loading & progress
 */



/**
 * Loading indicator
 */



/**
 * Progress indicators
 */



/**
 * Menus
 */
.dropdown.dropstart .dropdown-menu,
.dropdown.dropend .dropdown-menu { 
    margin-block: 0 !important;
    margin-inline: var(--spacing-2) !important;
}

.dropdown .dropdown-menu {
    padding: var(--spacing-1);
    background-color: var(--surface) !important;
    color: var(--on-background) !important;
    border-radius: var(--radius-medium);
    border-width: 0 !important;
    max-height: 85dvh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-block: var(--spacing-2) !important;
    box-shadow: var(--shadow-05);
    flex-direction: column;
    gap: var(--spacing-1);
}

.dropdown .dropdown-menu::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
}

.dropdown-menu.show { display: flex; }

.dropdown .dropdown-menu.dropdown-menu-small { width: 150px; }

.dropdown .dropdown-menu.dropdown-menu-medium { width: 250px; }

.dropdown .dropdown-menu.dropdown-menu-large { width: 350px; }

.dropdown .dropdown-menu.dropdown-menu-extra-large { width: 450px; }

.dropdown .dropdown-menu .dropdown-item {
    border-radius: var(--radius-small);
    background-color: inherit !important;
    color: var(--on-background-variant) !important;
    padding: var(--spacing-2) var(--spacing-3);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    text-wrap: wrap;
    width: 100%;
    transition: color var(--tr-duration-short);
    --state-layer-bg: var(--on-background);
}

.dropdown .dropdown-menu .dropdown-item:hover,
.dropdown .dropdown-menu .dropdown-item:focus-within { color: var(--on-background) !important; }

.dropdown .dropdown-menu .dropdown-item.active { color: var(--on-background) !important; }

.dropdown .dropdown-menu .dropdown-item.active .state-layer { opacity: 0.08; }

.dropdown .dropdown-menu .dropdown-item[aria-expanded="true"] { color: var(--on-background) !important; }

.dropdown .dropdown-menu .dropdown-item[aria-expanded="true"] .state-layer { opacity: 0.08; }

.dropdown .dropdown-menu .dropdown-item svg {
    min-width: calc(var(--width-extra-small) / 2);
    max-width: calc(var(--width-extra-small) / 2);
    min-height: calc(var(--height-extra-small) / 2);
    max-height: calc(var(--height-extra-small) / 2);
}

.dropdown .dropdown-menu .dropdown-item.error {
    color: var(--error) !important;
    --state-layer-bg: var(--error);
}

/**
 * Navigation bar
 */
.navigation-bar {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacing-1);
    padding-inline: var(--spacing-1);
    width: 100%;
    height: var(--navigation-bar-height);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: var(--background);
    border-top: 1px solid var(--outline);
}

.navigation-bar .nav-link {
    color: var(--on-background-variant) !important;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    transition: color var(--tr-duration-short);
}

.navigation-bar .nav-link:hover { color: var(--on-background) !important; }

.navigation-bar .nav-link.active { color: var(--on-background) !important; }

/**
 * Navigation drawer
 */



/**
 * Navigation rail
 */
.navigation-rail {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 30;
    width: var(--navigation-rail-width);
    height: 100dvh;
    border-inline-end: 1px solid var(--outline);
    padding-block: var(--spacing-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

html[dir="rtl"] .navigation-rail {
    right: 0;
    left: auto;
}

.navigation-rail .logo { margin-block-end: var(--spacing-5); }

.navigation-rail .navigation-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
}

.navigation-rail .navigation-list .dropdown-menu-small { width: 200px; }

/**
 * Radio button
 */



/**
 * Search
 */



/**
 * Bottom sheets
 */
.offcanvas.offcanvas-bottom {
    border-radius: var(--radius-extra-large) var(--radius-extra-large) 0 0;
    background-color: var(--surface);
    border-width: 0;
    color: var(--on-background);
    box-shadow: var(--shadow-1);
    height: auto !important;
    max-height: 100dvh !important;
    max-width: 568px;
    margin-inline: auto;
}

.offcanvas.offcanvas-bottom .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-5) var(--spacing-2) var(--spacing-2) var(--spacing-4);
    border-color: transparent;
}

html[dir="rtl"] .offcanvas.offcanvas-bottom .offcanvas-header { padding: var(--spacing-5) var(--spacing-4) var(--spacing-2) var(--spacing-2); }

.offcanvas.offcanvas-bottom .offcanvas-body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
    padding: 0 var(--spacing-4) var(--spacing-4);
    overflow-y: auto;
    overflow-x: hidden;
}

.offcanvas.offcanvas-bottom .offcanvas-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
    overflow-y: auto;
    overflow-x: hidden;
    padding-block-end: var(--spacing-1);
}

.offcanvas.offcanvas-bottom .offcanvas-list::-webkit-scrollbar {
    width: var(--spacing-1);
    height: var(--spacing-1);
}

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link {
    min-height: var(--height-small);
    padding: var(--spacing-2) var(--spacing-4);
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    color: var(--on-background-variant);
    width: 100%;
    transition: color var(--tr-duration-short);
    --state-layer-bg: var(--on-background);
}

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link:is(:hover, :focus-within) { color: var(--on-background); }

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link[aria-expanded="true"] { color: var(--on-background); }

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link[aria-expanded="true"] .state-layer { opacity: 0.08; }

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link.active { color: var(--on-background); }

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link.active .state-layer { opacity: 0.08; }

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link.error {
    color: var(--error);
    --state-layer-bg: var(--error);
}

.offcanvas.offcanvas-bottom .offcanvas-list .bottom-sheet-link svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

/**
 * Side sheets
 */



/**
 * Sliders
 */



/**
 * Snackbar
 */



/**
 * Switch
 */



/**
 * Tabs
 */
.nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
    border-bottom: 1px solid var(--outline);
    padding-block-end: 1px;
}

.nav-tabs::-webkit-scrollbar { display: none; }

.nav-tabs .nav-item .nav-link {
    padding: 0 var(--spacing-4);
    min-height: var(--height-small);
    max-height: var(--height-small);
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-2);
    text-transform: capitalize;
    background-color: inherit !important;
    color: var(--on-background-variant) !important;
    border: 1px solid transparent !important;
    width: 100%;
    border-radius: 0;
    transition: color var(--tr-duration-short);
    --state-layer-bg: var(--on-background);
}

.nav-tabs .nav-item .nav-link:hover { color: var(--on-background) !important; }

.nav-tabs .nav-item .nav-link.active {
    color: var(--on-background) !important;
    border-bottom-color:  var(--on-background) !important;
}

.tab-content { padding-block-start: var(--spacing-4); }

/**
 * Text fields
 */
.form-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-5);
    width: 100%;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    width: 100%;
}

.form-check {
    display: flex;
    align-items: center;
    gap: var(--spacing-3);
    padding: 0;
    margin: 0;
}

.form-box label { text-transform: capitalize; }

.form-box .input-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    border-radius: var(--radius-full);
    width: 100%;
}

.form-box .input-wrapper.otp input,
.form-box .input-wrapper.otp input::placeholder { text-align: center; }

.form-box .input-wrapper.small {
    padding-inline: var(--spacing-5);
    min-height: var(--height-small);
    max-height: var(--height-small);
}

.form-box .input-wrapper.small svg {
    min-width: calc(var(--width-small) / 2);
    max-width: calc(var(--width-small) / 2);
    min-height: calc(var(--height-small) / 2);
    max-height: calc(var(--height-small) / 2);
}

.form-box .input-wrapper.medium {
    padding-inline: var(--spacing-6);
    min-height: var(--height-medium);
    max-height: var(--height-medium);
}

.form-box .input-wrapper.outline {
    border: 1px solid var(--outline);
    --state-layer-bg: var(--on-background);
}

.form-box .input-wrapper.filled {
    background-color: var(--surface);
    border: 1px solid var(--outline);
    --state-layer-bg: var(--on-background);
}

.form-box .textarea-wrapper {
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
    border-radius: var(--radius-extra-large);
    width: 100%;
}

.form-box .textarea-wrapper textarea { min-height: 100px; }

.form-box .textarea-wrapper.small { padding: var(--spacing-5); }

.form-box .textarea-wrapper.outline {
    border: 1px solid var(--outline);
    --state-layer-bg: var(--on-background);
}

/**
 * Toolbars
 */



/**
 * Tooltips
 */
.tooltip { display: none; }

.tooltip .tooltip-inner {
    background-color: var(--inverse) !important;
    color: var(--on-inverse) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding-inline: var(--spacing-2);
    border-radius: var(--radius-extra-small);
    font-size: var(--fs-body-small);
    font-weight: var(--fw-regular);
    line-height: var(--lh-body-small);
}

.tooltip .tooltip-arrow { display: none; }

/**
 * Line Clamp
 */
.line-clamp {
    word-break: break-word;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 30px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
}

.line-clamp.line-clamp-1 {
    -webkit-line-clamp: 1;
    -moz-line-clamp: 1;
}

.line-clamp.line-clamp-2 {
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
}

.line-clamp.line-clamp-3 {
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
}

.line-clamp.line-clamp-4 {
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
}

.line-clamp.line-clamp-5 {
    -webkit-line-clamp: 5;
    -moz-line-clamp: 5;
}

.line-clamp.line-clamp-6 {
    -webkit-line-clamp: 6;
    -moz-line-clamp: 6;
}

.line-clamp.line-clamp-7 {
    -webkit-line-clamp: 7;
    -moz-line-clamp: 7;
}

.line-clamp.line-clamp-8 {
    -webkit-line-clamp: 8;
    -moz-line-clamp: 8;
}

.line-clamp.line-clamp-9 {
    -webkit-line-clamp: 9;
    -moz-line-clamp: 9;
}

.line-clamp.line-clamp-10 {
    -webkit-line-clamp: 10; 
    wmoz-line-clamp: 10;
}

/* ------------------------------------------------------------ *\
 * OTHERS
\* ------------------------------------------------------------ */

/**
 * Start Loading
 */
.start-loading {
    background-color: var(--primary);
    color: var(--on-primary);
    position: fixed;
    inset: 0;
    z-index: 1000;
    width: 100%;
    height: 100dvh;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr max-content;
    padding-block-end: var(--spacing-9);
    transition-duration: var(--tr-duration-short);
    transition-property: opacity, visibility;
}

.start-loading.active {
    opacity: 0;
    visibility: hidden;
}

.start-loading .logo {
    min-width: 115px;
    max-width: 115px;
    min-height: auto;
    max-height: max-content;
    transition: transform var(--tr-duration-short);
}

.start-loading.active .logo { transform: scale(1.5); }

.start-loading .logo,
.start-loading .text-headline-small {
    font-family: var(--font-family-body);
    font-weight: var(--fw-large);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

/**
 * Header
 */
.header {
    background-color: var(--background);
    border-bottom: 1px solid var(--outline);
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    transition: transform var(--tr-duration-short);
}

.header.fixed-scrolling { transform: translateY(-100%); }

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-4);
}

/**
 * Dialog Create
 */
.dialog-create .grid-3-card {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2);
}

.dialog-create .grid-3-card .card .wrapper-block {
    align-items: center;
    gap: var(--spacing-3);
}

/**
 * Bottom Sheet Create
 */
.bottom-sheet-create .grid-3-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-2);
}

.bottom-sheet-create .grid-3-card .card .wrapper-block {
    align-items: center;
    gap: var(--spacing-3);
}

/**
 * Dropdown Notification
 */
.dropdown-notification { padding: var(--spacing-4) !important; }

.dropdown-notification .nav-tabs { margin-inline: -16px; }

.dropdown-notification .tab-content { margin: -16px; }

.dropdown-notification .item {
    padding: var(--spacing-4);
    border-bottom: 1px solid var(--outline);
}

.dropdown-notification .item:last-child { border-bottom-color: transparent; }

.dropdown-notification .item .wrapper-item,
.dropdown-notification .item .wrapper-between { flex-wrap: nowrap; }

/**
 * Dropdown Shopping Cart
 */
.dropdown-shopping-cart { padding: var(--spacing-4) !important; }

.dropdown-shopping-cart .nav-tabs { margin-inline: -16px; }

.dropdown-shopping-cart .tab-content { margin: -16px; }

.dropdown-shopping-cart .item {
    padding: var(--spacing-4);
    border-bottom: 1px solid var(--outline);
}

.dropdown-shopping-cart .img-shopping-cart {
    min-width: 100px;
    max-width: 100px;
    min-height: 70px;
    max-height: 70px;
    border-radius: var(--radius-medium);
}

.dropdown-shopping-cart .item .wrapper-item {
    column-gap: var(--spacing-2);
    row-gap: var(--spacing-05);
}

.dropdown-shopping-cart .item .wrapper-item,
.dropdown-shopping-cart .item .wrapper-between { flex-wrap: nowrap; }

.dropdown-shopping-cart .footer-shopping-cart {
    padding-block-start: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-4);
}

/**
 * Dropdown User
 */
.dropdown-user .collapse-select {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-1);
}

.dropdown-user .collapse-select li.separator { margin-block-start: var(--spacing-1); }

/**
 * Dialog Rating
 */
.dialog-rating .modal-body {
    align-items: center;
    text-align: center;
    width: 100%;
}

.dialog-rating-feedback .modal-content { max-width: 400px; }

.dialog-rating-feedback .modal-body {
    align-items: center;
    text-align: center;
    gap: var(--spacing-2) !important;
}

/**
 * Bottom Sheet Rating
 */
.bottom-sheet-rating .offcanvas-body {
    align-items: center;
    text-align: center;
    width: 100%;
}

/**
 * Footer
 */
.footer {
    position: fixed;
    right: var(--spacing-4);
    bottom: var(--spacing-4);
    z-index: 30;
    display: flex;
    align-items: center;
    gap: var(--spacing-2);
}

html[dir="rtl"] .footer {
    left: var(--spacing-4);
    right: auto;
}

body:has(.navigation-bar) .footer { bottom: calc(var(--navigation-bar-height) + var(--spacing-4)); }

.footer .dropdown { transition: transform var(--tr-duration-short); }

.footer .dropdown.fixed-scrolling { transform: scale(0); }

.footer .dropdown-footer .dropdown-footer-content {
    padding: var(--spacing-3) !important;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.footer .icon-btn { background-color: var(--background); }

/* ------------------------------------------------------------ *\
 * MAIN
\* ------------------------------------------------------------ */

/**
 * Intro
 */
.intro {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100dvh;
    padding: var(--spacing-10) var(--spacing-4);
}

.intro .intro-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-8);
    text-align: center;
    max-width: 386px;
}

.intro .intro-content .btn { margin-block-start: var(--spacing-4); }

/**
 * Auth
 */
.auth {
    width: 100%;
    min-height: 100dvh;
    padding: var(--spacing-10) var(--spacing-4);
    display: grid;
    place-items: center;
}

.auth .auth-card {
    max-width: 386px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-7);
}

.auth .auth-card:has(.grid-2-base) { max-width: 700px; }

.auth .auth-card .wrapper-content {
    margin-inline: auto;
    max-width: 386px;
}

.auth .auth-card .card .wrapper-content { margin: 0; }

/**
 * User Occupation
 */
.user-occupation { padding-block-start: var(--spacing-4); }

.user-occupation .check,
.user-occupation .check svg {
    min-width: var(--spacing-6);
    max-width: var(--spacing-6);
    min-height: var(--spacing-6);
    max-height: var(--spacing-6);
}

/* ------------------------------------------------------------ *\
 * MEDIA QUERY
\* ------------------------------------------------------------ */

/**
 * FIT SIZE: 568PX
 */
@media screen and (min-width: 568px) {
    /**
     * REUSED STYLE
     */
    .grid-2-base { grid-template-columns: repeat(2, 1fr); }
}

/**
 * FIT SIZE: 768PX
 */
@media screen and (min-width: 768px) {}

/**
 * FIT SIZE: 992PX
 */
@media screen and (min-width: 992px) {
    /**
     * REUSED STYLE
     */
    body:has(.navigation-rail) .main { padding-inline-start: var(--navigation-rail-width); }

    body:has(.navigation-bar) .main { padding-block-end: 0; }

    body:has(.main-navigation-drawer-start) .main { padding-inline-start: var(--width-base); }

    body:has(.navigation-rail):has(.main-navigation-drawer-start) .main { padding-inline-start: calc(var(--navigation-rail-width) + var(--width-base)); }

    body:has(.header.mobile) .main { padding-block-start: 0 !important; }

    body:has(.app-bar.mobile) .main { padding-block-start: 0 !important; }

    body:has(.header.desctop) .main { padding-block-start: calc(var(--header-height) + var(--spacing-4)) !important; }

    body:has(.app-bar.desctop) .main { padding-block-start: calc(var(--header-height) + var(--spacing-4)) !important; }

    body:has(.navigation-rail) .header,
    body:has(.navigation-rail) .app-bar {
        left: var(--navigation-rail-width);
        width: calc(100% - var(--navigation-rail-width));
    }

    html[dir="rtl"] body:has(.navigation-rail) .header,
    html[dir="rtl"] body:has(.navigation-rail) .app-bar {
        right: var(--navigation-rail-width);
        left: auto;
    }

    body:has(.navigation-rail):has(.main-navigation-drawer-start) .header,
    body:has(.navigation-rail):has(.main-navigation-drawer-start) .app-bar {
        left: calc(var(--navigation-rail-width) + var(--width-base));
        width: calc(100% - (var(--navigation-rail-width) + var(--width-base)));
    }

    html[dir="rtl"] body:has(.navigation-rail):has(.main-navigation-drawer-start) .header,
    html[dir="rtl"] body:has(.navigation-rail):has(.main-navigation-drawer-start) .app-bar {
        right: calc(var(--navigation-rail-width) + var(--width-base));
        left: auto;
    }

    .desctop { display: flex !important; }

    .mobile { display: none !important; }

    /**
     * COMPONENTS
     */

    /* Tooltips */
    .tooltip { display: flex; }

    /**
     * OTHERS
     */

    /* Footer */
    .footer {
        right: var(--spacing-6);
        bottom: var(--spacing-6);
    }

    html[dir="rtl"] .footer {
        left: var(--spacing-6);
        right: auto;
    }

    body:has(.navigation-bar) .footer { bottom: var(--spacing-6); }
}

/**
 * FIT SIZE: 1200PX
 */
@media screen and (min-width: 1200px) {}

/**
 * FIT SIZE: 1440PX
 */
@media screen and (min-width: 1440px) {
    /**
     * REUSED STYLE
     */
    body:has(.main-navigation-drawer-end) .main { padding-inline-end: calc(var(--width-base) + var(--spacing-4)); }
}