/* ------------------------------------------------------------ *\
 * CSS VARIABLES
\* ------------------------------------------------------------ */

:root {
    /**
     * COLORS
     */

    /* Primary  */
    --orange-color: #f9ad35;
    --orange-dark-color: #F19712;
    --soft-orange-color: #f9ad3515;
    --soft-orange-dark-color: #F1971215;

    --green-color: #70f842;
    --green-dark-color: #45ff34;
    --soft-green-color: #70f84215;
    --soft-green-dark-color: #45ff3415;

    --rosy-color: #FB64B6;
    --rosy-dark-color: #E9419C;
    --soft-rosy-color: #FB64B615;
    --soft-rosy-dark-color: #E9419C15;

    --red-color: #FF394C;
    --red-dark-color: #DD182B;
    --soft-red-color: #FF394C15;
    --soft-red-dark-color: #DD182B15;

    /* DARK */
    --dark-bg-color: #000000;
    --dark-second-bg-color: #ffffff10;
    --dark-third-bg-color: #ffffff15;
    --dark-fourd-bg-color: #ffffff20;
    --dark-text-color: #ffffff;
    --dark-second-color: #737373;
    --dark-third-color: #908f90;
    --dark-border-color: #ffffff20;
    --dark-second-border-color: #ffffff25;

    /* LIGHT */
    --light-bg-color: #ffffff;
    --light-second-bg-color: #00000010;
    --light-third-bg-color: #00000015;
    --light-fourd-bg-color: #00000020;
    --light-text-color: #111111;
    --light-second-color: #555555;
    --light-third-color: #777777;
    --light-border-color: #00000020;
    --light-second-border-color: #00000025;

    /**
     * TYPOGRAPHY
     */

    /* Font Size */
    --fs-h1: 32px;
    --fs-h2: 24px;
    --fs-h3: 20px;
    --fs-h4: 18px;
    --fs-h5: 16px;
    --fs-h6: 15px;
    --fs-p: 14px;
    --fs-small: 12px;

    /* Font Weight */
    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;
    --fw-light: 300;

    /* Line Height */
    --lh-h1: 40px;
    --lh-h2: 36px;
    --lh-h3: 28px;
    --lh-h4: 26px;
    --lh-h5: 24px;
    --lh-h6: 22px;
    --lh-p: 22px;
    --lh-small: 20px;

    /**
     * BORDER RADIUS
     */
    --rounded-0: 0;
    --rounded-2: 2px;
    --rounded-4: 4px;
    --rounded-8: 8px;
    --rounded-12: 12px;
    --rounded-16: 16px;
    --rounded-24: 24px;
    --rounded-full: 9999px;
}

[data-theme="dark"] {
    color-scheme: dark;

    --bg-color: var(--dark-bg-color);
    --second-bg-color: var(--dark-second-bg-color);
    --third-bg-color: var(--dark-third-bg-color);
    --fourd-bg-color: var(--dark-fourd-bg-color);
    --text-color: var(--dark-text-color);
    --second-color: var(--dark-second-color);
    --third-color: var(--dark-third-color);
    --border-color: var(--dark-border-color);
    --second-border-color: var(--dark-second-border-color);
}

[data-theme="light"] {
    color-scheme: light;

    --bg-color: var(--light-bg-color);
    --second-bg-color: var(--light-second-bg-color);
    --third-bg-color: var(--light-third-bg-color);
    --fourd-bg-color: var(--light-fourd-bg-color);
    --text-color: var(--light-text-color);
    --second-color: var(--light-second-color);
    --third-color: var(--light-third-color);
    --border-color: var(--light-border-color);
    --second-border-color: var(--light-second-border-color);
}

/* ------------------------------------------------------------ *\
 * RESET
\* ------------------------------------------------------------ */

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
    word-break: break-word !important;
    overflow-wrap: break-word !important;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul,
ol,
menu {
    padding: 0 !important;
    margin: 0 !important;
}

li { 
    list-style: none !important; 
    padding: 0 !important;
    margin: 0 !important;
}

a,
img,
span,
label,
input,
select,
button,
textarea { display: inline-block; }

a {
    font-family: var(--font-family) !important;
    color: var(--text-color) !important;
    text-decoration: none !important;
}

img { height: auto; }

label {
    margin: 0 !important; 
    padding: 0 !important;
}

input,
select,
button,
textarea {
    font-family: var(--font-family) !important;
    box-shadow: 0 0 0 transparent !important;
    color: var(--text-color) !important;
    background: none;
    border: none;
}

input,
select,
textarea {
    outline: none !important;
    width: 100%;
}

input::placeholder { color: var(--second-color) !important; }

textarea::placeholder { color: var(--second-color) !important; }

select { color: var(--second-color) !important; }

select[selected] { color: var(--text-color) !important; }

textarea { resize: none !important; }

button { cursor: pointer; }

form { width: 100%; }

html { 
    scroll-behavior: smooth; 
    font-size: 62.5%;
}

body {
    font-family: var(--font-family) !important;
    background-color: var(--bg-color);
    color: var(--text-color) !important;
    font-size: normal;
    font-weight: normal;
    display: flex;
    flex-direction: column;

    overflow-y: hidden;
    /* overflow-x: hidden; */
}

body.load { overflow-y: visible; }

body[lang="en"] { 
    --font-family: "Quicksand", sans-serif; 
    letter-spacing: 1px; 
}

/* body[lang="ar"] { --font-family: ; } */

html,
body {
    width: 100%;
    height: 100%;
}

.row,
.col { 
    margin-inline: 0; 
    padding-inline: 0;
}

/* ------------------------------------------------------------ *\
 * DUBLICATE ITEMS
\* ------------------------------------------------------------ */

.section { padding-block-end: 140px; }

.container {
    padding-inline: 16px !important;
    max-width: 1440px !important;
    margin-inline: auto;
    width: 100%;
}

.img-cover {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.main { min-height: 100vh; }

.title-section { margin-block-end: 40px; }

/* ------------------------------------------------------------ *\
 * UTILITIES - TYPOGRAPHY
\* ------------------------------------------------------------ */

h1,
.h1 {
    font-size: var(--fs-h1) !important;
    font-weight: var(--fw-bold) !important;
    line-height: var(--lh-h1) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h2,
.h2 {
    font-size: var(--fs-h2) !important;
    font-weight: var(--fw-bold) !important;
    line-height: var(--lh-h2) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h3,
.h3 {
    font-size: var(--fs-h3) !important;
    font-weight: var(--fw-semi-bold) !important;
    line-height: var(--lh-h3) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h4,
.h4 {
    font-size: var(--fs-h4) !important;
    font-weight: var(--fw-semi-bold) !important;
    line-height: var(--lh-h4) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h5,
.h5 {
    font-size: var(--fs-h5) !important;
    font-weight: var(--fw-medium) !important;
    line-height: var(--lh-h5) !important;
    padding: 0 !important;
    margin: 0 !important;
}

h6,
.h6 {
    font-size: var(--fs-h6) !important;
    font-weight: var(--fw-medium) !important;
    line-height: var(--lh-h6) !important;
    padding: 0 !important;
    margin: 0 !important;
}

p,
.p {
    font-size: var(--fs-p) !important;
    font-weight: var(--fw-regular) !important;
    line-height: var(--lh-p) !important;
    padding: 0 !important;
    margin: 0 !important;
}

small,
.small {
    font-size: var(--fs-small) !important;
    font-weight: var(--fw-light) !important;
    line-height: var(--lh-small) !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* ------------------------------------------------------------ *\
 * UTILITIES - COLORS
\* ------------------------------------------------------------ */

/**
 * TEXT
 */
.text-orange-color { color: var(--orange-color) !important; }

.text-orange-dark-color { color: var(--orange-dark-color) !important; }

.text-soft-orange-color { color: var(--soft-orange-color) !important; }

.text-soft-orange-dark-color { color: var(--soft-orange-dark-color) !important; }

.text-green-color { color: var(--green-color) !important; }

.text-green-dark-color { color: var(--green-dark-color) !important; }

.text-soft-green-color { color: var(--soft-green-color) !important; }

.text-soft-green-dark-color { color: var(--soft-green-dark-color) !important; }

.text-rosy-color { color: var(--rosy-color) !important; }

.text-rosy-dark-color { color: var(--rosy-dark-color) !important; }

.text-soft-rosy-color { color: var(--soft-rosy-color) !important; }

.text-soft-rosy-dark-color { color: var(--soft-rosy-dark-color) !important; }

.text-red-color { color: var(--red-color) !important; }

.text-red-dark-color { color: var(--red-dark-color) !important; }

.text-soft-red-color { color: var(--soft-red-color) !important; }

.text-soft-red-dark-color { color: var(--soft-red-dark-color) !important; }

.text-bg-color { color: var(--bg-color) !important; }

.text-second-bg-color { color: var(--second-bg-color) !important; }

.text-third-bg-color { color: var(--third-bg-color) !important; }

.text-fourd-bg-color { color: var(--fourd-bg-color) !important; }

.text-text-color { color: var(--text-color) !important; }

.text-second-color { color: var(--second-color) !important; }

.text-third-color { color: var(--third-color) !important; }

.text-border-color { color: var(--border-color) !important; }

.text-second-border-color { color: var(--second-border-color) !important; }

/**
 * BG
 */
.bg-orange-color { background-color: var(--orange-color) !important; }

.bg-orange-dark-color { background-color: var(--orange-dark-color) !important; }

.bg-soft-orange-color { background-color: var(--soft-orange-color) !important; }

.bg-soft-orange-dark-color { background-color: var(--soft-orange-dark-color) !important; }

.bg-green-color { background-color: var(--green-color) !important; }

.bg-green-dark-color { background-color: var(--green-dark-color) !important; }

.bg-soft-green-color { background-color: var(--soft-green-color) !important; }

.bg-soft-green-dark-color { background-color: var(--soft-green-dark-color) !important; }

.bg-rosy-color { background-color: var(--rosy-color) !important; }

.bg-rosy-dark-color { background-color: var(--rosy-dark-color) !important; }

.bg-soft-rosy-color { background-color: var(--soft-rosy-color) !important; }

.bg-soft-rosy-dark-color { background-color: var(--soft-rosy-dark-color) !important; }

.bg-red-color { background-color: var(--red-color) !important; }

.bg-red-dark-color { background-color: var(--red-dark-color) !important; }

.bg-soft-red-color { background-color: var(--soft-red-color) !important; }

.bg-soft-red-dark-color { background-color: var(--soft-red-dark-color) !important; }

.bg-bg-color { background-color: var(--bg-color) !important; }

.bg-second-bg-color { background-color: var(--second-bg-color) !important; }

.bg-third-bg-color { background-color: var(--third-bg-color) !important; }

.bg-fourd-bg-color { background-color: var(--fourd-bg-color) !important; }

.bg-text-color { background-color: var(--text-color) !important; }

.bg-second-color { background-color: var(--second-color) !important; }

.bg-third-color { background-color: var(--third-color) !important; }

.bg-border-color { background-color: var(--border-color) !important; }

.bg-second-border-color { background-color: var(--second-border-color) !important; }

/**
 * BORDER
 */
.border-orange-color { border-color: var(--orange-color) !important; }

.border-orange-dark-color { border-color: var(--orange-dark-color) !important; }

.border-soft-orange-color { border-color: var(--soft-orange-color) !important; }

.border-soft-orange-dark-color { border-color: var(--soft-orange-dark-color) !important; }

.border-green-color { border-color: var(--green-color) !important; }

.border-green-dark-color { border-color: var(--green-dark-color) !important; }

.border-soft-green-color { border-color: var(--soft-green-color) !important; }

.border-soft-green-dark-color { border-color: var(--soft-green-dark-color) !important; }

.border-rosy-color { border-color: var(--rosy-color) !important; }

.border-rosy-dark-color { border-color: var(--rosy-dark-color) !important; }

.border-soft-rosy-color { border-color: var(--soft-rosy-color) !important; }

.border-soft-rosy-dark-color { border-color: var(--soft-rosy-dark-color) !important; }

.border-red-color { border-color: var(--red-color) !important; }

.border-red-dark-color { border-color: var(--red-dark-color) !important; }

.border-soft-red-color { border-color: var(--soft-red-color) !important; }

.border-soft-red-dark-color { border-color: var(--soft-red-dark-color) !important; }

.border-bg-color { border-color: var(--bg-color) !important; }

.border-second-bg-color { border-color: var(--second-bg-color) !important; }

.border-third-bg-color { border-color: var(--third-bg-color) !important; }

.border-fourd-bg-color { border-color: var(--fourd-bg-color) !important; }

.border-text-color { border-color: var(--text-color) !important; }

.border-second-color { border-color: var(--second-color) !important; }

.border-third-color { border-color: var(--third-color) !important; }

.border-border-color { border-color: var(--border-color) !important; }

.border-second-border-color { border-color: var(--second-border-color) !important; }